@import "./variable.less";

.markdown-area {
  background-color: white;
  html, body {
    background-color: initial;
    font-size: 16px;

    h1, h2, h3, h4 {
      font-weight: 600;
      line-height: 1.25;
    }

    h1 {
      margin: 35px 0 30px;
      padding-bottom: 0.3em;
      font-size: 2em;
    }
    h2 {
      margin: 30px 0 25px;
      padding-bottom: 0.3em;
      font-size: 1.5em;
    }
    h3 {
      margin: 25px 0 20px;
      font-size: 1.25em;
    }
    h4 {
      margin: 20px 0 15px;
    }

    li {
      line-height: 2em;
    }

    pre {
      background-color: var(--code-bg-color);
      padding: 20px;
      border-radius: 8px;
      line-height: 1.5em;
      overflow: auto;

      code {
        color: white;
      }
    }
  }
}

@media screen and (max-width: @min-width) {
  .markdown-area {
    html, body {
      pre {
      }
    }
  }
}

@keyframes wave-color {
  from {
    opacity: 0;
  }
  20% {
    opacity: .2;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: .2;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: .2;
  }
}

@keyframes wave-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
