:root {
  --font-family: "Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"

  --orange: #ff8300;
  --blue: rgb(0, 102, 255);
  --theme-color: #ff8300;
  --bg-color: #fdfdfd;
  --font-color: rgba(0, 0, 0, .6);
  --font-color-dark: rgba(0, 0, 0, .8);
  --font-color-light: rgba(0, 0,0 0, .4);

  --font-size: 14px;
  --font-size-s: 12px;
  --font-size-l: 20px;

  --border-radius: 8px;
}
