:root {
  --theme-color: rgb(0, 102, 255);
  --theme-color-dark: #06f;
  --bg-color: #f2f2f2;

  --color-white: #fff;

  --font-size: 14px;
  --font-size-s: 12px;
  --font-size-l: 20px;

  --border-radius: 8px;
}
